[buildout]
extends = https://raw.githubusercontent.com/zopefoundation/Zope/master/versions.cfg
develop = .
parts = interpreter test

[versions]
Persistence =
ExtensionClass =

[interpreter]
recipe = zc.recipe.egg
interpreter = python
eggs =
    Persistence
    tox

[test]
recipe = zc.recipe.testrunner
eggs = Persistence
